.item-modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100vw;
  background-color: #373737b8;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 60px;

  .item-info {
    background-color: #ffffff;
    padding: 10vw;
    margin: 0 5vw;
    box-shadow: 0 0 10px -4px black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: relative;
    z-index: 101;
    width: 70%;
    gap: 25px;

    .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 5px;
      padding: 5px;
      min-height: 5vh;

      span {
        text-align: end;
        font-size: 1.2em;
      }
      input{
        padding: 5px;
        border-radius: 5px;
        font-size: 1em;
        border: 1px solid black;
        &:focus{
            background-color: #781f9e2e;
            outline: white;
        }
      }
    }
    .btns {
      display: flex;
      justify-content: space-around;
      width: 100%;
      font-size: 1.5em;
      transition: 0.3s;
      align-items: center;
      &.disabled {
        color: grey;
      }
    }
    .add-spend-btn{
      padding: 10px 0px;
      border-radius: 10px;
      border: none;
      background-color: #ae95c3;
      box-shadow: 0 0 11px 1px black;
      color: white;
      font-size: 60px;
      &:active {
        background-color: #946eb4;
      }
    }
    .item-edit {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      gap: 5px;
      border: 1px solid grey;
      padding: 5px;
      min-height: 5vh;

      label {
        position: absolute;
        top: -10px;
        font-size: 18px;
        background-color: #fff;
        color: #757575;
      }
      span {
        text-align: end;
        font-size: 1.5em;
      }
    }

    .delete-modal {
      position: absolute;
      height: 10vh;
      background-color: #fffefe;
      border: 12px solid rgb(255, 89, 0);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      border-radius: 10px;
      width: 100%;
      top: -150%;
      left: -10px;
      transition: 0.5s ease;
      &.active {
        top: 50%;
      }
      .delete-modal-btns {
        display: flex;
        justify-content: space-around;
        width: 100%;
        button {
          font-size: 60px;
          width: 35%;
          height: 4vh;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          &.yes {
            background-color: rgb(50, 255, 214);
          }
          &.no {
            background-color: rgb(255, 50, 50);
          }
        }
      }
    }
  }
}
