.list-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;

    .header{
        padding: 5vw;
        font-size: 4em;
        display: flex;
        width: 100%;
        // flex-direction: column;
        justify-content: center;
        background-color: $clr2;
        gap: 5vw;
        align-items: center;
        box-shadow:0 0 20px 15px $clr2;
        position: relative;
        color: white;
        
        &.spend {
            background-color: $clr3;
            box-shadow:0 0 20px 15px $clr3;
            .title{
                svg{
                    color: $clr3;
                }
            }
        }
        .title{
            position: absolute;
            left: 10vw;
            color: white;
            font-size: 1.5em;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 10vw;
            height: 10vw;
            .back{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            svg{
                color: $clr2;
            }
        }
    }

    .list-group{
        display: flex;
        flex-direction: column;
        width: 100%;
        // gap: 20px;
        font-size: 60px;
        .list-title{
            height: 5vh;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .high{
            background-color: rgba(255, 68, 0, 0.7);
        }
        .medium{
            background-color: rgba(255, 166, 0, 0.7);
        }
        .low{
            background-color: rgba(255, 255, 0, 0.7);
        }
        .no{
            background-color: rgba(162, 255, 0, 0.7);
        }
        .done{
            background-color: rgba(123, 123, 123, 0.7);
        }
        .list-item{
            background-color: #fff;
            height: 5vh;
            border-radius: 5px;
            padding: 0 4vw;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;

                
            .item{
                // width: 50%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

}