.loader-view{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $clr1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11000;

    .loader {
        transform: translateZ(1px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .loader:after {
        content: '$';
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 40vw;
        border-radius: 50%;
        text-align: center;
        line-height:40px;
        font-size: 14em;
        font-weight: bold;
        background: #FFD700;
        color: #DAA520;
        border: 4px double rgb(255, 89, 0);
        box-sizing: border-box;
        box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
        animation: coin-flip 4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }
      @keyframes coin-flip {
        0%, 100% {
          animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }
        0% {
          transform: rotateY(0deg);
        }
        50% {
          transform: rotateY(1800deg);
          animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }
        100% {
          transform: rotateY(3600deg);
        }
      }
}