.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .chart {
    width: 80%;
    position: relative;
    // height: 100%;
    .shadow {
      border-radius: 50%;
      width: 90%;
      height: 90%;
      position: absolute;
      top: 5.5%;
      left: 5%;
      // box-shadow: 0 0 80px 40px rgb(63, 63, 63);
      box-shadow: 0 0 0px 60px rgb(0 0 0 / 15%);
      z-index: -1;
    }
    .pie-chart {
      border-radius: 50%;
    }
    .dollar-box {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dollar-container {
      // position: absolute;
      padding: 50px;
      background-color: $clr4;
      border-radius: 50%;
      box-shadow: 0 0 10px 6px #000000b0;
      // top: 50%;
    }
    .dollar {
      background-color: white;
      border-radius: 50%;
      padding: 20px;
    }
  }
}
