.income{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15vw;

    .add-btn{
        position: absolute;
        top: 45%;
        padding: 10vw;
        border: 4px solid white;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 120px;
        color: white;
        cursor: pointer;
    }
    .list-group{
        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 20px;
        font-size: 60px;

        .list-item{
            background-color: #fff;
            height: 5vh;
            border-radius: 5px;
            padding: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .item{
                width: 50%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                 &:first-child {
                    border-right: 2px solid grey;
                  }
            }
        }

        button{
            height: 5vh;
            border-radius: 10px;
            // position: absolute;
            // // bottom: -50px;
            // // width: 100%;
            font-size: 50px;
            border: none;
            cursor: pointer;
            color: rgb(32, 32, 32);
            box-shadow: 0 0 10px -4px black;
            font-weight: 700;
            &:active {
                background-color: #f9f9f9a7;
                color: rgb(60, 60, 60);
                box-shadow: 0 0 0px -4px black;
              }
        }
    }

}